@import "variable.scss";

@media #{$desktop}{
   nav img{
       width: 300px;
       
   }
   h3{
       font-size: 20px;
   }
   .res{
       height: 55vh;
       background-image: url("/image/rest02.jpg");
       background-position: center;
    text-shadow:white 1px 2px;
       .reserver{
           position: relative;
           top: 80px;
       }
   }
   .fonct{
       height: 20vh;
        .fonct h3,
        .card h3 {
            position: relative;
            left: 150px;
            font-size: 25px;
        }
   }
   
   .bout{
       display: inline-flex;
       justify-content: space-between;
   }
    .boutton {
        display: inline-block;   
    }
    .card{
        height: 50vh;
        .card-menu{
            position: relative;
            top: 20px;
        }
        .pic {
            display: inline-block;
            margin: 15px;   
            .text h4,
            p {
                font-size: 18px;
            }
        }
    }
   
   footer{
       text-align: center;
       h2{
           text-align: center;
           font-size: 40px;
       }
       .part{
           display: flex;
           justify-content: space-around;
           .part1,.part2{
               text-align: justify;
               font-size: 20px;
           }
       }
   }
}
@media #{$tablette}{

    .res{
        background-image: url("/image/rest02.jpg");
        background-position: center;
        text-shadow:white 1px 2px ;
        .btn{
            width: 250px;
           position: relative;
           left: 10px;
        }
    }
    .fonct h3,.card h3{
        text-align: left;
    }
    .bout{
        button{
            width: 350px;
        }
    }
    .boutton{
        display: flex;
        justify-content: center;
    }
    .card-menu{
        position: relative;
        left: -25px;
        
        .pic {
            display: inline-block;
            margin: 15px;
        
            .text h4,
            p {
                font-size: 18px;
            }
        }
    }
    
    footer{
        text-align: center;
        
        h2 {
            text-align: center;
            font-size: 40px;
        }
        
        .part {
            display: flex;
            justify-content: space-around;        
            .part1,
            .part2 {
                text-align: justify;
                font-size: 20px;
            }
        }
    }   
}
@media #{$mobile1}{
    .fonct {
       
        h3 {
            position: relative;
            left: -15px;
        }
        .bout{
            width: 420px;
        }
    }
    
   
    .card {
        .card-menu {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            position: relative;
            left: -20px;
        }
        h3 {
            position: relative;
            left: -15px;
        }
    
        .pic {
            width: 300px;
            height: auto;
            position: relative;
            left: 6px;
    
            img {
                width: 300px;
                height: auto;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
    
            .new {
                position: absolute;
                top: 20px;
                left: 200px;
            }
    
            .fa-regular,
            .coeur {
                position: absolute;
                left: 250px;
                bottom: 15px;
            }
        }
    }
}
@media #{$mobile}{    
    .fonct{                
            h3 {
            position: relative;
            left: -15px;
            }
        }
            .bout {
               
               width: 420px;
               position: relative;
               left: -100px;
                i {
                    font-size: 20px;
                }
            }
    
       
        .card{
            .card-menu{
            display: flex;
            justify-content:center;
            flex-wrap: wrap;
            position: relative;
            left: -20px;
            }
            h3{
                position: relative;
                left: -15px;
            }
            
            .pic{       
                width: 300px;
                height: auto;
                position: relative;
                left: 6px;
                img {
                    width: 300px;
                    height: auto;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
                .new{
                    position: absolute;
                    top: 20px;
                    left: 200px;
                }
                .fa-regular,.coeur{
                    position: absolute;
                    left: 250px;
                    bottom: 15px;
                }
            }    
        }
    
}