@import url("https://fonts.googleapis.com/css2?family=Pacifico &family=Raleway&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@-webkit-keyframes action {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes action {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes watchout {
  from {
    z-index: 1;
    opacity: 0.8;
  }
  to {
    z-index: 0;
    opacity: 0;
  }
}

@keyframes watchout {
  from {
    z-index: 1;
    opacity: 0.8;
  }
  to {
    z-index: 0;
    opacity: 0;
  }
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: 2px 5px 2px #99E2D0;
            box-shadow: 2px 5px 2px #99E2D0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 2px 5px 2px #99E2D0;
            box-shadow: 2px 5px 2px #99E2D0;
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: 2px 5px 2px #99E2D0;
            box-shadow: 2px 5px 2px #99E2D0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 2px 5px 2px #99E2D0;
            box-shadow: 2px 5px 2px #99E2D0;
  }
}

@-webkit-keyframes text {
  50% {
    color: white;
  }
}

@keyframes text {
  50% {
    color: white;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  position: fixed;
  inset: 0;
  background-color: #fffefe;
  z-index: 1;
  opacity: 0.8;
  -webkit-animation: watchout 3s forwards 3s;
          animation: watchout 3s forwards 3s;
}

.load .circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-animation: loading 2s linear infinite;
          animation: loading 2s linear infinite;
}

.load .circle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px #9356DC;
          box-shadow: 0 0 5px #9356DC;
}

.load span {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 200px;
  -webkit-animation: text 3s ease-in-out;
          animation: text 3s ease-in-out;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 15px #b9b3b3;
          box-shadow: 0 5px 15px #b9b3b3;
}

nav img {
  width: 200px;
  padding: 20px;
}

nav i {
  font-size: 25px;
  position: relative;
  left: -50px;
}

.mag img {
  width: 460px;
}

.localisation, .fonct, .card {
  text-align: center;
}

.localisation .local, .fonct .local, .card .local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(128, 128, 128, 0.1);
  padding: 15px;
}

.localisation i, .fonct i, .card i {
  font-size: 20px;
  position: relative;
  left: -20px;
}

.res {
  background-color: rgba(128, 128, 128, 0.1);
  padding: 0 0 40px;
}

.res h1 {
  font-size: 28px;
  padding: 20px;
}

.res p {
  font-size: 20px;
  padding: 20px,10px;
}

.res .btn {
  font-size: 18px;
  width: 250px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0 5px 15px #b9b3b3;
          box-shadow: 0 5px 15px #b9b3b3;
  cursor: pointer;
  color: white;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to left top, #9356dc, #ff79da);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.res .btn:hover {
  scale: 1.02;
  -webkit-box-shadow: 0 5px 15px #635f5f;
          box-shadow: 0 5px 15px #635f5f;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.fonct, .card {
  padding: 30px 0 40px 30px;
}

.fonct h3, .card h3 {
  font-size: 22px;
  padding: 0 0 10px;
  text-align: left;
}

.bout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: -50px;
}

.bout .liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 80px;
}

.bout h4 {
  width: 15px;
  padding: 10px;
  color: white;
  background-color: #9356DC;
  border: none;
  border-radius: 50%;
  margin-right: 40px;
}

.bout .chif {
  position: relative;
  left: -3px;
}

.bout i {
  font-size: 25px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bout:hover i {
  color: #9356DC;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bout a {
  margin-left: 30px;
  color: black;
  text-decoration: none;
}

.bout .phone {
  position: relative;
  left: 10px;
}

.bout button {
  font-size: 18px;
  padding: 25px;
  background-color: #f1f1f1;
  border-radius: 20px;
  border: none;
  width: 350px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 15px #b9b3b3;
          box-shadow: 0 5px 15px #b9b3b3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bout button:hover {
  background-color: #e9ddf8;
  -webkit-box-shadow: 0 5px 15px #635f5f;
          box-shadow: 0 5px 15px #635f5f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card {
  background-color: rgba(128, 128, 128, 0.2);
}

.card h3 {
  margin: 20px 5px;
}

.card .new {
  position: absolute;
  top: 20px;
  left: 250px;
  text-align: center;
  border-radius: 2px;
  padding: 5px;
  width: 80px;
  background-color: #99E2D0;
}

.card .pic {
  width: 350px;
  height: 250px;
  margin-bottom: 20px;
  background-color: white;
  text-align: start;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 15px #b9b3b3;
          box-shadow: 0 5px 15px #b9b3b3;
  position: relative;
  left: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card .pic:hover {
  -webkit-box-shadow: 0 5px 15px #635f5f;
          box-shadow: 0 5px 15px #635f5f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card img {
  width: 350px;
  height: 180px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.disp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.disp .text {
  padding: 8px;
  margin: 0 5px;
}

.disp .text p {
  margin: 5px 0;
}

.icon .coeur {
  opacity: 0;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to left top, #9356dc, #ff79da);
  color: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.icon .fa-regular, .icon .coeur {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  left: 300px;
  bottom: 15px;
}

.icon .fa-regular:hover, .icon .coeur:hover {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to left top, #9356dc, #ff79da);
  color: transparent;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  color: white;
}

footer h2 {
  font-family: 'Shrikhand', cursive;
  margin-bottom: 15px;
}

.foot {
  margin-bottom: 10px;
}

.foot a {
  color: white;
  text-decoration: none;
}

.foot .prop {
  position: relative;
  left: 6px;
}
/*# sourceMappingURL=ohMyFood.css.map */