@-webkit-keyframes action {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes action {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes watchout {
  from {
    z-index: 1;
    opacity: 0.8;
  }
  to {
    z-index: 0;
    opacity: 0;
  }
}

@keyframes watchout {
  from {
    z-index: 1;
    opacity: 0.8;
  }
  to {
    z-index: 0;
    opacity: 0;
  }
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: 2px 5px 2px #99E2D0;
            box-shadow: 2px 5px 2px #99E2D0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 2px 5px 2px #99E2D0;
            box-shadow: 2px 5px 2px #99E2D0;
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: 2px 5px 2px #99E2D0;
            box-shadow: 2px 5px 2px #99E2D0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 2px 5px 2px #99E2D0;
            box-shadow: 2px 5px 2px #99E2D0;
  }
}

@-webkit-keyframes text {
  50% {
    color: white;
  }
}

@keyframes text {
  50% {
    color: white;
  }
}

@media screen and (min-width: 961px) {
  nav img {
    width: 300px;
  }
  h3 {
    font-size: 20px;
  }
  .res {
    height: 55vh;
    background-image: url("./image/rest02.jpg");
    background-position: center;
    text-shadow: white 1px 2px;
  }
  .res .reserver {
    position: relative;
    top: 80px;
  }
  .fonct {
    height: 20vh;
  }
  .fonct .fonct h3,
  .fonct .card h3 {
    position: relative;
    left: 150px;
    font-size: 25px;
  }
  .bout {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .boutton {
    display: inline-block;
  }
  .card {
    height: 50vh;
  }
  .card .card-menu {
    position: relative;
    top: 20px;
  }
  .card .pic {
    display: inline-block;
    margin: 15px;
  }
  .card .pic .text h4,
  .card .pic p {
    font-size: 18px;
  }
  footer {
    text-align: center;
  }
  footer h2 {
    text-align: center;
    font-size: 40px;
  }
  footer .part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .part .part1, footer .part .part2 {
    text-align: justify;
    font-size: 20px;
  }
}

@media screen and (min-width: 770px) and (max-width: 960px) {
  .res {
    background-image: url("./image/rest02.jpg");
    background-position: center;
    text-shadow: white 1px 2px;
  }
  .res .btn {
    width: 250px;
    position: relative;
    left: 10px;
  }
  .fonct h3, .card h3 {
    text-align: left;
  }
  .bout button {
    width: 350px;
  }
  .boutton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-menu {
    position: relative;
    left: -25px;
  }
  .card-menu .pic {
    display: inline-block;
    margin: 15px;
  }
  .card-menu .pic .text h4,
  .card-menu .pic p {
    font-size: 18px;
  }
  footer {
    text-align: center;
  }
  footer h2 {
    text-align: center;
    font-size: 40px;
  }
  footer .part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .part .part1,
  footer .part .part2 {
    text-align: justify;
    font-size: 20px;
  }
}

@media screen and (min-width: 460px) and (max-width: 630px) {
  .card-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    left: -20px;
  }
  .card-menu .pic {
    width: 300px;
    height: auto;
    position: relative;
    left: 6px;
  }
  .card-menu .pic img {
    width: 300px;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .card-menu .pic .new {
    position: absolute;
    top: 20px;
    left: 200px;
  }
  .card-menu .pic .fa-regular,
  .card-menu .pic .coeur {
    position: absolute;
    left: 250px;
    bottom: 15px;
  }
}

@media screen and (max-width: 370px) {
  .fonct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 370px;
  }
  .fonct h3 {
    position: relative;
    left: -15px;
  }
  .fonct .bout {
    width: 420px;
    position: relative;
    left: -100px;
  }
  .fonct .bout i {
    font-size: 20px;
  }
  .card .card-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    left: -20px;
  }
  .card h3 {
    position: relative;
    left: -15px;
  }
  .card .pic {
    width: 300px;
    height: auto;
    position: relative;
    left: 6px;
  }
  .card .pic img {
    width: 300px;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .card .pic .new {
    position: absolute;
    top: 20px;
    left: 200px;
  }
  .card .pic .fa-regular, .card .pic .coeur {
    position: absolute;
    left: 250px;
    bottom: 15px;
  }
}
/*# sourceMappingURL=responsive.css.map */