@import "variable.scss";
@import "mixins.scss";

@media #{$desktop}{
    nav{
        img{
            width: 300px;
        }
        i{
            font-size: 30px;
            position: relative;
            left: -50px;
        }
       
    }
    .mag{@include palette;}
    .mag1{@include enchanté;}
    .mag2{@include française;}
    .mag3{@include délice;}
    .menu{
        padding: 20px 0 50px;
        .title{
            position: relative;
            top: -15px;
            h1 {
                font-size: 35px;
                letter-spacing: 5px;
            }
            i{
                position: relative;
                left: 20px;
            }
            .coeur{
               position: relative;
               left: -10px;
                opacity: 0;
            }
        }
        
       .btn{@include commander;}
    }
    .main-menu{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
       
        .txt-menu {
            text-align: start;
        }
        .choice{        
            display: inline-block; 

        }
        .push{
            @include push;
            display: block;  
            h4,p{
                width: 400px
            }                      
        }        
    }
    footer {@include footer;}
}

@media #{$tablette}{
    .mag{@include palette;}
    .mag1{@include enchanté;}
    .mag2{@include française;}
    .mag3{@include délice;}   
    .main-menu{
        text-align: center;
        .choice-menu{
            position: relative;
            left: 100px;
        }
        hr{
            position: relative;
            left: 45.5%;
        }
      
        .push{ @include push;
            h4,
            p {
                width: 400px
            }
        }              
    }
    .icon {
        i {
            position: relative;
            top: 5px;
        }
    }
   
    .btn {@include commander;}
    footer {@include footer;}
}
@media #{$mobile2}{
   .mag,.mag1,.mag2,.mag3{
       img{
           width:100% ;
       }
   }
    .txt-menu{
        text-align: left;
    }
   .commander{
     @include commander;
   }
}

@media #{$mobile},#{$mobile1} {
    nav{
        .fa-arrow-left{
            position: relative;
            left:-10px;
        }
    }
    .mag,.mag1,.mag2,.mag3{
        img{
            width: 100%;
            height: 250px;
        } 
    } 
    .txt-menu {
        text-align: left;
    }
    .menu{
        .title{
            h1{
                font-size: 25px;
            } 
            .heart{
                i {
                    font-size: 25px;
                }
                .coeur{
                  position: relative;
                  left: -25px;
                }
            }
           
        }
    }
    .choice-menu{
        .push {
            width: 320px;
            h4 {
            font-size: 18px;
            width: 250px;         
            }
           p{
                font-size: 18px;
           }
            &:hover h4,
            &:hover p {
                width: 180px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                transition: 0.5s;
            }
            .cadre {
               position: relative;
               left: 80px;
               .icon{                 
                   i{
                       position: relative;
                       top: 5px;
                   }
               }
            }
           
        }       
    }  
    .commander{
        @include commander;
    }
}
